@model SAGE.Models.Review

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="RecipeId" />
            <div class="form-group">
                <label asp-for="Rating" class="control-label">Rating(1-10):</label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review1" class="control-label">Description:</label>
                <input asp-for="Review1" class="form-control" />
                <span asp-validation-for="Review1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" style="margin-top: 10px;" />
            </div>
        </form>
    </div>
</div>

@if (ViewBag.id != null)
{
    <div>
        <a style="text-decoration: none;" href="@Url.Action("Details", "Recipes", new {id = ViewBag.id})">
            <button type="button">Back to recipe</button>
        </a>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
